.team-slider__item {
  margin-right: 50px;
}

.team-slider__title {
  font-size: 20px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 10px;
}

.team-slider__subtitle {
  font-size: 15px;
  margin-bottom: 30px;
  display: block;
}

.team-slider__link {
  text-decoration: none;
  color: #00897b;
  border-radius: 10px;
  background-color: #f0f1f1;
  margin-right: 17px;
  font-size: 40px;
  padding: 5px;
  transition: 0.3s;
}

.team-slider__link:hover {
  background-color: #00897b;
  color: #fff;
}

.team-slider__link:hover .link-icon {
  transition: 0.3s;
  transform: rotate(360deg);
}
