ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

.menu-bar {
  background-color: #00897b;
  padding: 10px 30px;
}

.menu-item {
  color: #f1f1f1;
  text-align: center;
  margin-left: 37px;
}

.menu-item__link {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 20px;
  transition: 0.5s;
}

.menu-item__link:hover {
  color: #b7ddd9;
  border: 1px dotted #f1f1f1;
  text-decoration: none;
  padding: 10px;
  background: transparent;
}

.header {
  background-image: url(../img/header/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0;
  color: #ffffff;
  text-align: center;
}

.header__arrow {
  font-size: 35px;
  text-decoration: none;
  color: #ffffff;
  border: none;
  background: transparent;
  margin-top: 190px;
}

.header__arrow:hover {
  color: #04534b;
  text-decoration: none;
}

.header__title {
  font-size: 60px;
}

.header__subtitle {
  font-size: 22px;
  margin-top: 25px;
  margin-bottom: 115px;
}

.container {
  align-items: center;
  margin: auto;
}

.button {
  padding: 10px 25px;
  color: #f1f1f1;
  margin: 0 10px;
  transition: 0.7s;
}

.button:hover {
  border: 2px dotted #f1f1f1;
  background: #04534b;
}

.button__empty {
  background-color: transparent;
  border: 2px solid #f1f1f1;
}

.button__full {
  background-color: #00bba8;
}

.button-main {
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #00897b;
  transition: 0.3s;
}

.button-main:hover {
  color: #ffffff;
  background-color: #00897b;
}

.section {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 125px;
  align-content: center;
}

.section-title {
  font-size: 30px;
  color: #212121;
}

.section-subtitle {
  display: block;
  font-size: 15px;
  color: #212121;
  margin-top: 35px;
  margin-bottom: 110px;
}

.menu-icon {
  display: none;
}

@media (max-width: 1024px) {
  .menu-icon {
    display: block;
    color: #00897b;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 25px;
  }
  .logo-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .price-card {
    margin: 10px;
  }
  .price-card__options {
    padding-left: 0;
  }
}

.about {
  background-color: #ffffff;
  color: #212121;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 125px;
}

.about__title {
  margin-top: 35px;
  margin-bottom: 25px;
}

.services {
  background-color: #e4fdf9;
}

.card {
  background-color: #ffffff;
  text-align: center;
  color: #212121;
  padding: 50px 20px 40px;
  align-items: center;
  transition: 0.3s;
  margin-bottom: 25px;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
  background-color: #00897b;
  color: #ffffff;
}

.card:hover .card__button {
  background-color: #00897b;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.card:hover .card__image {
  transition: 0.3s;
  transform: rotate(360deg);
}

.card__title {
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: 25px;
}

.card__description {
  display: block;
  font-size: 15px;
}

.card__button {
  margin-top: 45px;
  background-color: #fff;
  padding: 20px 15px;
  max-width: 150px;
  color: #212121;
  border: 2px solid #212121;
  font-size: 20px;
  transition: 0.3s;
}

.card__image {
  font-size: 60px;
}

.portfolio__button {
  padding: 15px 20px;
  color: #212121;
  font-size: 15px;
  text-transform: uppercase;
  margin-right: 20px;
}

.portfolio__button:hover {
  color: #ffffff;
  background-color: #00897b;
}

.filter {
  padding-top: 120px;
  padding-bottom: 120px;
}

.filter__img {
  margin-right: 30px;
  margin-bottom: 10px;
}

.price {
  background-color: #f0f0f0;
}

.price__button {
  max-width: 180px;
  font-size: 20px;
  padding: 15px 20px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 64px;
}

.price__button:hover {
  border: none;
}

.price-card {
  background-color: #ffffff;
  max-width: 370px;
  transition: 0.3s;
  align-items: center;
  text-align: center;
}

.price-card:hover {
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.35);
}

.price-card__header {
  background-image: url(../img/price/price-title-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  padding-top: 35px;
  max-height: 205px;
}

.price-card__title {
  font-size: 25px;
  color: #ffffff;
}

.price-card__subtitle {
  font-size: 50px;
  color: #fff;
}

.price-card__subtitle sup {
  font-size: 25px;
  vertical-align: middle;
}

.price-card__subtitle sub {
  font-size: 17px;
  vertical-align: middle;
}

.price-card__options {
  padding-top: 50px;
}

.price-card__options__item {
  margin-bottom: 40px;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 15px;
  font-size: 17px;
  width: 50%;
  margin-left: 25%;
}

.team-slider__item {
  margin-right: 50px;
}

.team-slider__title {
  font-size: 20px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 10px;
}

.team-slider__subtitle {
  font-size: 15px;
  margin-bottom: 30px;
  display: block;
}

.team-slider__link {
  text-decoration: none;
  color: #00897b;
  border-radius: 10px;
  background-color: #f0f1f1;
  margin-right: 17px;
  font-size: 40px;
  padding: 5px;
  transition: 0.3s;
}

.team-slider__link:hover {
  background-color: #00897b;
  color: #fff;
}

.team-slider__link:hover .link-icon {
  transition: 0.3s;
  transform: rotate(360deg);
}

.blog {
  background-color: #e4fdf9;
}

.blog__button {
  margin-top: 125px;
  max-width: 220px;
  max-height: 70px;
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px 50px;
}

.blog__item {
  margin-left: 30px;
  text-align: left;
}

.blog__title {
  padding-top: 30px;
  margin-bottom: 25px;
  font-size: 25px;
  margin-left: 30px;
  text-align: left;
}

.blog__title:hover {
  color: #00897b;
  cursor: pointer;
}

.blog__data {
  text-align: left;
  font-size: 12px;
}

.blog__icon {
  padding-right: 15px;
}

.blog__dev {
  height: 17px;
  text-align: left;
  margin-left: 40px;
}

.blog__text {
  font-size: 15px;
  margin-top: 25px;
}

@media (max-width: 1024px) {
  .blog {
    display: none;
  }
  .portfolio__button {
    width: 30%;
    margin-bottom: 40px;
    margin-right: 70px;
  }
  .nav-bar {
    display: none;
  }
}

@media (max-width: 560px) {
  .portfolio__button {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
  }
  .header {
    padding: 50px 20px;
  }
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section__subtitle {
    margin-bottom: 50px;
  }
}

@media (max-width: 450px) {
  .header__title {
    font-size: 30px;
  }
  .button {
    margin-bottom: 20px;
  }
}

.footer {
  background-image: url(../img/footer/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  align-items: center;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 125px;
  align-content: center;
}

.footer-title {
  color: #ffffff;
  font-size: 30px;
}

.footer-subtitle {
  display: block;
  font-size: 15px;
  color: #ffffff;
  margin-top: 35px;
  margin-bottom: 110px;
}

.footer__icon {
  color: #ffffff;
  font-size: 50px;
  background-color: #3949ab;
  padding: 5px 15px;
  border-radius: 70%;
}

.footer__icon:hover {
  color: #00897b;
}

.footer__link {
  display: block;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
}

.footer__link:hover {
  cursor: pointer;
  color: #00897b;
  background-color: #fff;
}

.footer-input {
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 30px;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-area {
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 20px;
  padding: 30px;
  margin-bottom: 40px;
}

.send {
  text-align: center;
  max-width: 220px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 25px 85px;
  color: #212121;
  font-size: 20px;
}

.second {
  margin-top: 5px;
  margin-bottom: 20px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
}

.wrapper {
  max-width: 1024px;
  padding: 10px;
  margin: 0px auto;
}

.menuToggle {
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  display: none;
}

@media (max-width: 640px) {
  .menuToggle {
    display: block;
  }
  .menu {
    display: none;
    position: absolute;
    background: #3e2597;
    width: 100%;
    margin-left: -10px;
    padding-left: 10px;
  }
  .menu li {
    display: block;
  }
  .icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .hamburger {
    width: 40px;
    height: 4px;
    transform: translate(-50%, -50%);
    background: #fff;
    transition: 0.5s;
    display: inline-block;
    margin-left: 12px;
  }
  .hamburger:before,
  .hamburger:after {
    content: "";
    width: 40px;
    height: 4px;
    position: absolute;
    background: #fff;
    transition: 0.5s;
  }
  .hamburger:before {
    top: -16px;
  }
  .hamburger:after {
    top: 16px;
  }
  .icon.active .hamburger {
    background: transparent;
  }
  .icon.active .hamburger:before {
    transform: rotate(45deg);
  }
  .icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
  }
}
